<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.ShangpinfenleiMapper">
  <resultMap id="BaseResultMap" type="com.itheima.entity.Shangpinfenlei">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="fenlei" jdbcType="VARCHAR" property="fenlei" />
  </resultMap>
  <sql id="Base_Column_List">
    id, addtime, fenlei
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shangpinfenlei
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shangpinfenlei
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.itheima.entity.Shangpinfenlei">
    insert into shangpinfenlei (id, addtime, fenlei
      )
    values (#{id,jdbcType=BIGINT}, #{addtime,jdbcType=TIMESTAMP}, #{fenlei,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.itheima.entity.Shangpinfenlei">
    insert into shangpinfenlei
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="fenlei != null">
        fenlei,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="fenlei != null">
        #{fenlei,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itheima.entity.Shangpinfenlei">
    update shangpinfenlei
    <set>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="fenlei != null">
        fenlei = #{fenlei,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itheima.entity.Shangpinfenlei">
    update shangpinfenlei
    set addtime = #{addtime,jdbcType=TIMESTAMP},
      fenlei = #{fenlei,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findAll" resultType="shangpinfenlei" parameterType="java.lang.String">
    Select * from shangpinfenlei
    <if test="value != ''">
      where fenlei = #{value}
    </if>
    ORDER BY id
    <if test="sort != 'ASC'">
      DESC
    </if>
  </select>

  <select id="spflfindAll" resultType="shangpinfenlei">
    Select * from shangpinfenlei
  </select>


</mapper>